
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArchPlan</title>
</head>
<body>
    <div> 建筑方案
    </div>
</body>
</html>
