
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 案例主页，还不知道放什么东西，
    要放所有案例把<br />
    超高层/城市综合体
酒店/办公/工业/旧城市改造
高层住宅
低密度住宅
地下空间开发
    </div>
</body>
</html>
