
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">

    <title>全部项目</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">

    <meta name="author" content="">

    <!-- Le styles -->

    <link href="~/Content/bootstrap.css?_v=1.1.1" rel="stylesheet">

    <link href="~/Content/style.css?_v=1.1.1" rel="stylesheet">

    <link href="~/Content/icons.css?_v=1.1.1" rel="stylesheet">

    <link href="~/Content/bootstrap-responsive.css?_v=1.1.1" rel="stylesheet">

    <link rel="stylesheet" id="main-color" href="~/Content/skin-orange.css?_v=1.1.1" media="screen" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

      <script src="~/js/html5shiv.js"></script>

    <![endif]-->
</head>
<body class="boxed">

    <div class="container">

        <!-- MASONRY ITEMS START

        ================================================== -->

        <div class="row-fluid">

            <div class="page-header">

                <h2>经典案例</h2>

                <div class="headerdivider">

                </div>

            </div>

            <!-- Filtering Menu

            ================================================== -->

            <div class="row-fluid">

                <div class="span12 text-center">

                    <div id="filter">

                        <ul>

                            <li><a href="" data-filter="*" class="selected"><i class="icon icon-reorder"></i>&nbsp; 全部</a></li>

                            @Html.Raw(ViewBag.SelectBtn)

                        </ul>

                    </div>

                </div>

            </div>

            <!-- END filtering menu -->

            <div id="content">

                <!--案例内容-->
                @Html.Raw(ViewBag.CaseContent)

                <!--添加翻页-->
            </div>

        </div>

    </div>

    <!-- 
    ==================================================
    -->
    <!-- 放置在文档的末尾，使页面加载速度更快-->

    <script src="~/js/jquery.js"></script>

    <script src="~/js/bootstrap.js"></script>

    <script src="~/js/plugins.js"></script>

    <script src="~/js/prettyPhoto.js"></script>

    <script>

        $(window).load(function () {

            var $container = $('#content')

            // initialize Isotope

            $container.isotope({

                // options...

                resizable: false, // disable normal resizing

                // set columnWidth to a percentage of container width

                masonry: { columnWidth: $container.width() / 3 }

            });

            // update columnWidth on window resize

            $(window).smartresize(function () {

                $container.isotope({

                    // update columnWidth to a percentage of container width

                    masonry: { columnWidth: $container.width() / 3 }

                });

            });

            initWindow();
        });

        //改变iframe 大小
        function initWindow() {
            InitFrameSize();
            $(window).resize(function () {
                InitFrameSize();
            });
        }

        function InitFrameSize() {
            var contentHeight = $(document).find("body").height();
            var frame = $("#main", window.parent.document);
            var initHeight = parseInt(!isNaN(frame.attr("init_height")) ? frame.attr("init_height") : "0");
            frame.height(initHeight > contentHeight ? initHeight : contentHeight + 30);
        }

    </script>

    <script>

        //MASONRY

        $(document).ready(function () {

            var Request = new Object();
            Request = GetRequest(); 

            var ProCode = Request['mCode'];

            var $container = $('#content');

            if (ProCode == null) {
                $container.imagesLoaded(function () {

                    $container.isotope({

                        filter: '*',

                        animationOptions: {

                            duration: 750,

                            easing: 'linear',

                            queue: false,

                        }

                    });

                });

            } else {
                var selector = "." + ProCode;

                $container.isotope({

                    filter: selector,

                    animationOptions: {

                        duration: 750,

                        easing: 'linear',

                        queue: false,

                    }
                });

                $('a.selected').removeClass('selected');

                $('#' + ProCode).addClass('selected');
              
            }



          
            //FILTER

            $('#filter a').click(function () {

                var selector = $(this).attr('data-filter');

                $container.isotope({

                    filter: selector,

                    animationOptions: {

                        duration: 750,

                        easing: 'linear',

                        queue: false,

                    }

                });

                return false;

            });

            $('#filter a').click(function (event) {

                $('a.selected').removeClass('selected');

                var $this = $(this);

                $this.addClass('selected');

                var selector = $this.attr('data-filter');

                $container.isotope({

                    filter: selector

                });

                return false;

            });


            function GetRequest() {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            }
        });

        //ROLL ON HOVER

        $(function () {

            $(".roll").css("opacity", "0");

            $(".roll").hover(function () {

                $(this).stop().animate({

                    opacity: .8

                }, "slow");

            },

                function () {

                    $(this).stop().animate({

                        opacity: 0

                    }, "slow");

                });

        });

    </script>


    <Script language="javascript">

       
    </Script> 

</body>
</html>
