
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>企业介绍</title>
    <!--Jquery-->
    <script src="~/js/jquery.js"></script>
    <script>

        $(function () {
            initWindow();
        });

        function initWindow() {
            InitFrameSize();
            $(window).resize(function () {
                InitFrameSize();
            });
        }
      
        function InitFrameSize() {
            var contentHeight = $(document).find("body").height();
            var frame = $("#main", window.parent.document);
            var initHeight = parseInt(!isNaN(frame.attr("init_height")) ? frame.attr("init_height") : "0");
            frame.height(initHeight > contentHeight ? initHeight : contentHeight + 30);
        }
    </script>
</head>
<body>
    <div> 企业介绍《BR》<br />
        企业介绍《BR》<br />企业介绍《BR》<br />
    </div>
</body>
</html>
