
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>专业团队</title>
    <!--Jquery-->
    <script src="~/js/jquery.js"></script>
    <script>

        $(function () {
            initWindow();
        });

        function initWindow() {
            InitFrameSize();
            $(window).resize(function () {
                InitFrameSize();
            });
        }
        function InitFrameSize() {
            var contentHeight = $(document).find("body").height();
            var frame = $("#main", window.parent.document);
            var initHeight = parseInt(!isNaN(frame.attr("init_height")) ? frame.attr("init_height") : "0");
            frame.height(initHeight > contentHeight ? initHeight : contentHeight + 30);
        }
    </script>
</head>
<body>
    <div> 专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队专业团队<div>
    企业介绍专业团队BR》<br />
              专业团队《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
    企业专业团队介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
    企业介专业团队绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
</div><div>
    企业介绍《BR》<br />
    企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
    企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
    企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
</div><div>
    企业介绍《BR》<br />
    企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
    企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
    企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />企业介绍《BR》<br />
</div>
    </div>
</body>
</html>
