
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div> 详情（行业状态+新闻）ID=@ViewBag.ID
    </div>
</body>
</html>
