
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Industry</title>
</head>
<body>
    <div> 行业动态List
    </div>
</body>
</html>
